body {background-color: #fffaf0;}

.simple-text {
    margin-bottom: 5vh;
}

iframe {
    margin-bottom: 3vh;
}

@media (max-width: 960px) {
    h1 {margin-top: 9vh;} 
    #header {height: 14vh;}
    #content-theorie-animee {margin-top: 9vh;}
    }

